img {
  vertical-align: middle;
}
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: #666;
}
body {
  max-width: 750px;
  margin: 0 auto;
  font-size: .14rem;
  line-height: .14rem;
  padding: .45rem 0;
  height: 100vh;
}
#header {
  display: flex;
  text-align: center;
  background-color: #006699;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#header .center {
  flex: 1;
  margin: 0;
  line-height: .45rem;
  color: #fff;
  font-weight: normal;
}
#header .center input {
  margin-bottom: 0;
  background-color: #fff;
  text-align: left;
  color: #000;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#footer {
  height: .45rem;
  background-color: #006699;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  /* 注意加宽度 已经没有默认宽度了 */
  width: 100%;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 中间部分的主体样式 */
#main {
  /* 会在main里面添加一个区域滚动容器 MUI自带了绝对定位 可以main设置相对定位 让 mui-scroll-wrapper相对main去定位 */
  position: relative;
  /* 同时需要给main设置高度100% 让main在中间范围显示 继承body内容的高度 */
  height: 100%;
}
.search-form form {
  display: flex;
  padding: .1rem;
}
.search-form form input {
  flex: 1;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #0062cc;
  border-radius: .06rem 0 0 .06rem;
  font-size: .14rem;
}
.search-form form button {
  border-radius: 0 .06rem .06rem 0;
  font-size: .14rem;
}
#main {
  background-color: #fff;
}
#main #slide {
  height: 3.5rem;
}
#main #slide img {
  height: 3.5rem;
}
#main #productInfo > div {
  padding: .1rem;
  border-bottom: 0.01rem solid #ccc;
  /* 注意已经div了 写交集选择器 不能漏了& 不然就是后代了 */
}
#main #productInfo > div.product-name span {
  font-weight: 600;
}
#main #productInfo > div.product-price span {
  color: red;
  font-weight: 600;
}
#main #productInfo > div.product-price del {
  color: #888;
}
#main #productInfo > div.product-size {
  /* 因为按钮有5px margin-bottom 所以单独让 当前商品大小盒子 底部padding变成5px 加起来刚好是10px */
  padding: 0.1rem 0.1rem 0.05rem;
}
#main #productInfo > div.product-size > button {
  margin-bottom: 0.05rem;
  /* 注意按钮的对齐方式默认是top  文字和按钮顶部对齐 
					把按钮的对齐方式设置为 middle 中线对齐和文字就居中对齐了 */
  vertical-align: middle;
}
/* 对详情页面的底部样式单独覆盖 */
#footer {
  background-color: #ccc;
}
#footer .mui-row > div {
  padding: 0.05rem;
}
#footer .mui-row > div .fa-shopping-cart {
  font-size: 0.2rem;
  color: #333;
}
#footer .mui-row > div button {
  width: 100%;
  font-size: .14rem;
}
