img {
  vertical-align: middle;
}
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: #666;
}
body {
  max-width: 750px;
  margin: 0 auto;
  font-size: .14rem;
  line-height: .14rem;
  padding: .45rem 0;
  height: 100vh;
}
#header {
  display: flex;
  text-align: center;
  background-color: #006699;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#header .center {
  flex: 1;
  margin: 0;
  line-height: .45rem;
  color: #fff;
  font-weight: normal;
}
#header .center input {
  margin-bottom: 0;
  background-color: #fff;
  text-align: left;
  color: #000;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#footer {
  height: .45rem;
  background-color: #006699;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  /* 注意加宽度 已经没有默认宽度了 */
  width: 100%;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 中间部分的主体样式 */
#main {
  /* 会在main里面添加一个区域滚动容器 MUI自带了绝对定位 可以main设置相对定位 让 mui-scroll-wrapper相对main去定位 */
  position: relative;
  /* 同时需要给main设置高度100% 让main在中间范围显示 继承body内容的高度 */
  height: 100%;
}
.search-form form {
  display: flex;
  padding: .1rem;
}
.search-form form input {
  flex: 1;
  margin: 0;
  text-align: left;
  background-color: #fff;
  border: 1px solid #0062cc;
  border-radius: .06rem 0 0 .06rem;
  font-size: .14rem;
}
.search-form form button {
  border-radius: 0 .06rem .06rem 0;
  font-size: .14rem;
}
#main .mui-table-view p {
  margin-bottom: .1rem;
}
#main .mui-table-view a {
  line-height: .2rem;
}
#main .btn-exit {
  width: 100%;
}
#main .btn-exit:active {
  background-color: hotpink;
  color: #fff;
}
